{% extends 'covid/base.html' %}

{% block title %}Covid Statistics{% endblock title %}

{% block body %}

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="../static/images/logo.svg"
            alt=""
            height="50"
            class="d-inline-block align-top"
        /></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../index">Covid-19</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../about">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="d-flex flex-column align-items-center">
      <h1 class="d-flex pt-4">COVID-19 Statistics</h1>
      <div class="purple mb-3"></div>
      <table class="d-flex">

    <table>
        <tr>
        {% for cell in categoryArr %}
                <th>{{cell}}</th>
        {% endfor %}

        {% for row in statisticsArr %}
        <tr>
            {% for cell in row %}
                <td>{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}        
    </table>
 
        <!--TODO Information 08/01/2021 -->
    </div>
{% endblock body %}