{% extends 'covid/base.html' %}

{% block title %}Covid Statistics{% endblock title %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
      <h1 class="d-flex pt-4">COVID-19 Statistics</h1>
      <div class="purple mb-3"></div>
      <table class="d-flex">

    <table>
        <tr>
        {% for cell in categoryArr %}
                <th>{{cell}}</th>
        {% endfor %}

        {% for row in statisticsArr %}
        <tr>
            {% for cell in row %}
                <td>{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}        
    </table>
 
        <!--TODO Information 08/01/2021 -->
    </div>
{% endblock body %}