{% extends 'covid/base.html' %}

{% block title %}Comments{% endblock title %}

{% block body %}
    <h1>Comments</h1> 
        {%for el in comments%}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
            <h2 class="accordion-header" >
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{el.date}}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Date:       {{el.date}} <br>
                    First name: {{el.first_name}}<br>
                    Last name:  {{el.last_name}}<br>
                    Comment:    {{el.comment}} <br>
                </div>
            </div>
            </div>
        </div>
        {%endfor%}


{% endblock body %}