{% extends 'covid/base.html' %}

{% block title %}Comments{% endblock title %}

{% block body %}

    <br>

    <h1 style='text-align:center'>Comments</h1> 
    <br>
    <br>
        {%for el in comments%}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
            <h2 class="accordion-header" >
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{el.date}} ({{el.username}})
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{el.comment}} 
                    <br>
                    <a href="{% url 'comments_detail' el.id %}" class='btn btn-info'>Детальнее</a>
                    <a href="{% url 'commencts_update' el.id %}" class='btn btn-lg'>Обновить</a>
                    <a href="{% url 'commencts_delete' el.id %}" class='btn btn-warning'>Удалить</a>


                </div>

            </div>
            </div>
        </div>
        <br>
        {%endfor%}


{% endblock body %}