<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление статьи</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 class="d-flex justify-content-center pb-1 pt-4">Удаление статьи</h1>
        <div class="purple mb-3"></div>
        <form class="row w-100 needs-validation" novalidate method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning" value="Submit">Удалить статью</button>
    </div>

</body>
</html>