
{% extends 'covid/base.html' %}

{% block title %}Contact us{% endblock title %}

{% block body %}
    <div>
        <h1 class="d-flex justify-content-center pb-1 pt-4">Удаление статьи</h1>
        <div class="purple mb-3"></div>
        <form class="row w-100 needs-validation" novalidate method="post">
            {% csrf_token %}
            <script>
                (function () {
                    'use strict'

                    var forms = document.querySelectorAll('.needs-validation')

                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })()

            </script>
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.username }}
            {{ form.city }}
            {{ form.state }}
            {{ form.zip }}
            {{ form.date }}
            {{ form.comment }}
            <div class="col-2">

                <button type="reset" class="btn btn-outline-danger" tabindex="7" type="reset">Reset</button>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary" tabindex="8" value="Submit">Send</button>
            </div> 
            <h1 style = 'text-align: center'>{{error}}</h1>

    </div>
{% endblock body %}